<div class="container-p4">
    <div class="row">

        {{#each plaza}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <a>
                            <h3 class="card-title text-uppercase">
                                {{ localizacion }}
                            </h3>
                        </a>
                    <p class="m-2">{{tipo_servicio}}</p>
                    <p class="m-2">{{nivel}}</p>
                    <p class="m-2">{{estado}}</p>
                    <a class="btn btn-danger" href="/plaza/delete/{{id_plaza}}">
                        Delete
                    </a>
                    <a class="btn btn-secondary" href="/plaza/edit/{{id_plaza}}">
                        Edit
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>Usted no tiene registrado ninguna plaza.</p>
                <a href="/plaza/add">Registro plazas</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>